* {
  background-color: #00001b;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofia pro/Sofia Pro Regular Az.otf") format("opentype");
  font-weight: 500; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro Light";
  src: url("../fonts/sofia pro/Sofia Pro Light Az.otf") format("opentype");
  font-weight: 200; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../fonts/sofia pro/Sofia Pro Bold Az.otf") format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
}
@font-face {
  font-family: "Harry Beast Display";
  src: url("../fonts/HarryBeastDisplay-Regular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
.header {
  width: 100%;
  height: 80px;
  display: flex; /* 가로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between; /* 양 끝에 sns_container와 main_right 배치 */
  padding: 11px 0 9px 0;
}
.sns_container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  padding-left: 27px;
}
.main_right {
  display: flex;
  align-items: center;
  width: 36%;
  height: 100%;
  justify-content: flex-end;
  margin-right: 20px;
}
.sns_logo {
  height: 24px;
  margin-right: 14px; /* 로고 간격 */
}
.main_logo {
  width: 168px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
}
#search {
  width: 226px;
  height: 30px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  box-sizing: border-box;
  color: #fff;
  background: url("../images/search_icon.svg") no-repeat right 10px center,
    #1a1a2a;
  background-size: 16px 16px;
  margin-right: 10px;
  padding-left: 11px;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
}
#login {
  width: 95px;
  height: 38px;
  border: 1.5px solid #fff;
  border-radius: 30px;
  font-size: 15px;
  box-sizing: border-box;
  color: #fff;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 900;
  letter-spacing: 1.63px;
  margin-right: 7px;
}
#login:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.1s ease-in;
}
#signup {
  width: 120px;
  height: 38px;
  border: 1.5px solid #5758ff;
  border-radius: 30px;
  font-size: 15px;
  box-sizing: border-box;
  color: #fff;
  background-color: #5758ff;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 900;
  letter-spacing: 1.63px;
}
#signup:hover {
  background-color: #10141b;
  transition: all 0.1s ease-in;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333349;
  width: 100%;
  height: 64px;
  color: #fff;
}
.nav > ul {
  display: flex; /* 가로 방향 배치 */
  list-style-type: none; /* 점 제거 */
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  margin: 6px auto;
  padding: 0 20px;
}
.nav > ul > li {
  display: flex;
  margin: 0 0.5em; /* 아이템 간 간격 */
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 700;
  font-size: 0.85em;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
}
.nav > ul > li > img {
  display: flex;
  height: 11px;
  margin: 4px 0 0 5px;
}
@media (max-width: 1400px) {
  .nav > ul > li {
    font-size: 0.75em; /* 글씨 크기 작게 */
  }
  .nav > ul > li > img {
    height: 9px; /* 아이콘 크기 작게 */
  }
}
.nav > ul > li:hover {
  border-bottom: 1px solid #fff;
}
.nav_ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b163b;
  height: 16px;
  color: #fff;
  padding: 11px 25px;
  font-size: 14px;
  font-family: "Sofia Pro", sans-serif;
}
.nav_ribbon > span {
  margin-left: 10px;
  text-decoration: underline;
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.7);
  background-color: #0b163b;
}
.section1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 550px;
  min-height: 400px;
  overflow: hidden;
}
.trailer {
  background-image: url("../images/main_section1_trailer_thu.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: section1_zoomout 1.3s ease-in-out 0s 1 forwards;
}
.cloud-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/clouds-left-b85acc1b6ae89695809a91420440641e.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 2;
  animation: cloudRevealLeft 1.5s ease-in-out 0.25s 1 forwards;
}
.cloud-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/clouds-right-7031ef0d886b707cbb18a0118c950ee2.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 2;
  animation: cloudRevealRight 1.5s ease-in-out 0.25s 1 forwards;
}
@keyframes section1_zoomout {
  0% {
    transform: scale(1.1);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
@keyframes cloudRevealLeft {
  from {
    transform: translate(-50%);
  }
  to {
    transform: translate(-75%);
  }
}

@keyframes cloudRevealRight {
  from {
    transform: translate(50%);
  }
  to {
    transform: translate(76%);
  }
}

@media (min-width: 1042px) {
  .section1 {
    box-sizing: border-box;
  }
  .trailer {
    width: 100%;
    height: 100%;
  }
}
.section1-bottom {
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(1turn, #15111d 40%, rgba(21, 17, 29, 0));
  bottom: 0;
  z-index: 22;
}
.section1-content {
  position: absolute;
  width: 1150px;
  height: 370px;
  padding: 0 25px;
  bottom: 98px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 222;
  animation: fadein 2s ease-in forwards;
}
.section1-content > h2 {
  background-color: transparent;
  color: #fff;
  max-width: 50%;
  font-size: 50px;
  font-family: "Harry Beast Display", sans-serif;
  margin: 0 0 17px;
}
.section1-content > p {
  background-color: transparent;
  color: #fff;
  max-width: 48%;
  font-family: "Sofia Pro Light", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
  margin: 0 0 25px;
  text-align: left;
}
.section1-content > button {
  background-color: #5758ff;
  padding: 12px 45px 14px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: "Sofia Pro Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 1.63px;
  color: #fff;
  outline: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section2 {
  width: 100%;
  min-height: 400px;
  background-image: url("../images/horizons_village.png"),
    url("../images/stars.png"),
    linear-gradient(180deg, #15111d, #323657 121.35%);
  background-position: 50% 101%, 50% bottom;
  background-size: 2000px auto, 2000px auto, 100% 100%;
  background-repeat: no-repeat;
}
.section2-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 60px 20px 100px;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: transparent;
}
.section2 .contentlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px 35px;
  max-width: 570px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
/* ============= 그라데이션 안먹음 =================*/
.section2-img {
  background: linear-gradient(0deg, #00001b, rgba(0, 0, 27, 0) 20%);
}
.section2-grid img {
  /* display: block; */
  width: 100%;
  height: auto;
}
.section2-grid-item {
  min-height: 97px;
  padding: 5px 13px;
}
.section2-grid-title {
  background-color: #0b163b;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  border-radius: 12px;
  padding: 5px 8px;
  width: fit-content;
  position: relative;
  top: -18px;
}
.section2-grid-content {
  font-size: 16px;
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  line-height: 21px;
  min-height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ============= 배경 안먹음 =================*/
.section2-grid-footer {
  background-image: url("../images/section2_grid_bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
}
.poll {
  background-image: url("../images/section2_poll.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 520px;
  width: 100%;
  background-color: transparent;
}
