* {
  background-color: #00001b;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 8%;
  display: flex; /* 가로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
}
.sns_container {
  display: flex; /* SNS 로고들을 가로로 배치 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  width: 50%; /* 필요한 너비 조정 */
}
.sns_logo {
  height: auto;
  width: 4%; /* 로고 크기 조정 */
  margin-right: 10px; /* 로고 간격 */
}
.main_logo {
  height: auto;
  width: 20%; /* 메인 로고 크기 조정 */
  margin: 0 auto; /* 중앙 정렬 */
}
